@import "mocha.css";

* {
  font-family: "Roboto Medium", "FiraCode Nerd Font", monospace;
  font-size: 13px;
  border: none;
}

window#waybar {
  background: @base;
  color: @overlay0;
  padding: 4px 10px;
  border-bottom: 2px solid @mauve;
}

/* Workspaces */
#workspaces button {
  padding: 0 6px;
  color: @mauve;
  background: @base;
  border-radius: 3px 3px 0 0;
}

/* Workspaces container */
#workspaces {
  padding: 2px 0; /* <-- keeps buttons from touching the border */
}

#workspaces button.active {
  background: @mauve;
  color: @base;
}

#workspaces button.urgent {
  background: @red;
  color: @base;
}

/* Modules */
#pulseaudio {
  padding: 0 6px;
  color: @peach;
}
#network {
  padding: 0 6px;
  color: @green;
}
#bluetooth {
  padding: 0 6px;
  color: @yellow;
}
#battery {
  padding: 0 6px;
  color: @sapphire;
}

#custom-arch {
  padding: 0 6px;
  color: @blue;
}

#custom-power {
  padding: 0 6px;
  color: @lavender;
}

#clock {
  color: @text;
}

#custom-search {
  padding: 0 6px;
  color: @red;
}

/* Separators */
#custom-separator {
  color: @mauve;
}

/* Tray */
#tray {
  margin-left: 6px;
  margin-right: 6px;
}
